<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi <%= @user.username %>,

    Thanks for registering! To confirm your registration click the URL below.

    <%= api_v1_registration_confirm_url(@user.confirm_token) %>
  </body>
</html>
